{% extends 'base.html' %}

{% block title %}
    <title>Delete_Page_Warning_Transaction</title>
{% endblock title%}

{% block content %}
<div style="padding:10px 30px;" class="container">
      <p>Do You Really Want To Delete This Transaction For <b>{{ trans.family.firstName }} {{ trans.family.middleName }} {{ trans.family.lastName }} family</b>?</P>
        <a href="{% url 'delete_transaction' trans.id %}" class="btn btn-danger mr-4">Yes</a>
        <a href="{% url 'transactions_list' %}" class="btn btn-info">No</a>
</div>
{% endblock content %}
