{% extends 'base.html' %}
{% load static %}

 {% block title %}
    <title>Welcome To Connection Point homepage</title>
{% endblock title %}


{% block content %}
    <div class = "container">
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1 text-primary">Welcome at ConnectioN Point Open Shelf and Pantry</p></center>
            </div>  
       </div>
       <div class="row mt-5">
          <div class="col-lg-4">
            <img src="{% static 'images/backgroundimage1.jpg'%}" alt="index" class ="rounded-lg shadow" width ="360" height= "250">
          </div>
          <div class="col-lg-4">
            <img src="{% static 'images/backgroundimage2.jpg'%}" alt="index" class ="rounded-lg shadow" width ="360" height= "250">
          </div>
          <div class="col-lg-4">
            <img src="{% static 'images/backgroundimage3.jpeg'%}" alt="index" class ="rounded-lg shadow" width ="360" height= "250">
          </div>  
       </div>
       <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
           <center><p class="h1 text-primary">This is The Best Place to Be,</p></center>
           <center><p class="h2 text-success">Thank You For Your Kind Heart and</p></center>
           <center><p class="h3 text-warning">Spread Love Whenever You Go!</p></center>

           <center><a href =" {% url 'listpage'%}"<button type="button" class="btn btn-primary mb-5 btn-lg mt-3 shadow">Look For The Person</button></a></center>
        </div>  
       </div>
    </div>
{% endblock content %}  