
{% extends 'base.html' %}

{% block title %}
    <title>RegisterPage</title>
{% endblock title%}

{% block content %}
    <div class = "container">
        <br/>
        <form method="POST">
            {% csrf_token %}
              <fieldset>
                  {% if fam %}
                      <h6>update family identification information</h6>
                      <br/>
                      <div class="col-md-4 mb-3">
                          <label >Family representative Official document no.:</label>
                          <input type="text" maxlength="29" class="form-control" value="{{ fam.national_doc }}" name="official_doc" placeholder="Family representative Official document no."  required>
                      </div>
                      <div class="col-md-4 mb-4">
                          <label >First name:</label>
                          <input type="text" class="form-control" name="firstName"  value="{{ fam.firstName }}" placeholder="First name" required>
                      </div>
                      <div class="col-md-4 mb-3">
                          <label >MiddleName:</label>
                          <input type="text" class="form-control" value="{{ fam.middleName }}"name="middleName"  placeholder="Middle name" >
                      </div>
                      <div class="col-md-4 mb-3">
                          <label>Last name:</label>
                          <input type="text" class="form-control" value="{{ fam.lastName }}" name="lastName"  placeholder="Last name" required>
                      </div>
                      <div class="col-md-4 mb-3">
                          <label >Telephone number:</label>
                          <input type="text" minlength="10" maxlength="19" value="{{ fam.phone }}" class="form-control" name="phone" placeholder="Telehone number starting by +"  pattern="\+[0-9]+" required>
                      </div>
                      <div class="col-md-4 mb-3">
                          <label >Number of Family Members:</label>
                          <input type="number" min="1" class="form-control" value="{{ fam.familyMembers }}" name="familyMembers" placeholder="Number of Family members"  required>
                      </div>
                    <button class="btn btn-primary" type="submit" formaction="{% url 'updatepage' fam.id %}">update family info</button>
              {% else %}
                    <h6>Register new family identification</h6>
                    <br/>
                    <div class="col-md-4 mb-3">
                        <label >Family representative Official document no.:</label>
                        <input type="text" maxlength="29" class="form-control" name="official_doc" placeholder="Family representative Official document no."  required>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label >First name:</label>
                        <input type="text" class="form-control" name="firstName"  placeholder="First name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label >MiddleName:</label>
                        <input type="text" class="form-control" name="middleName"  placeholder="Middle name" >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Last name:</label>
                        <input type="text" class="form-control" name="lastName"  placeholder="Last name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label >Telephone number:</label>
                        <input type="text" minlength="10" maxlength="19" class="form-control" name="phone" placeholder="Telehone number starting by +"  pattern="\+[0-9]+" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label >Number of Family Members:</label>
                        <input type="number" min="1" class="form-control" name="familyMembers" placeholder="Number of Family members"  required/>
                    </div>
                    <button class="btn btn-info" type="submit" formaction="{% url 'registerpage' %}">Register new family</button>
              {% endif %}
          </fieldset>
        </form>
        <br/><br/>
    </div>
{% endblock content %}
